{% load static %}

<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        padding: 20px; /* Adjust as needed */
    }

    footer {
        text-align: right;
        padding: 5px;
        background-color: #f0f0f0;
    }
</style>

<main>
    <!-- Your main content goes here -->
</main>

<footer>
    <p>&copy; 2023 <strong>Cavite State University - Bacoor Campus</strong> All rights reserved.</p>
</footer>
