/* main.css */

body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.fade {
  opacity: 0;
}

.fade-in {
  animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fadeOut ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
